body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
    width:1270px;
} 
.container{
                max-width:600px;
                margin: 1 auto;
                color:black;
               
                
}
.cls{
    color: blue;
    margin: 1 auto;
    max-width:600px;
    font-size:2rem;
    font-family:sans-serif;
    background-color:#ffffff;
   
    background-size:cover;
    
    
}
.img-long{
    height:400px;
    width:600px;
}
#vid{
    background-color:black;
}